body {
    background-color: #BDE8CA; /* Light green background */
}

.change-password-card {
    background: #ffffff; /* White background for card */
    padding: 20px; /* Add some padding */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Shadow for the card */
    max-width: 350px; /* Reduced max width for form */
    margin: 0 auto; /* Center the card horizontally */
}

.btn-success {
    background-color: #28a745; /* Green button */
    border-color: #28a745; /* Green border */
}

.btn {
    color: #ffffff; /* White text for buttons */
}
